@import "./styles/helpers.scss";

body {
  background-color: $main-background;
  font-family: $main-font;
}
:root {
  --result-columns: 2;
  @media(max-width: 500px){
  --result-columns: 1;
  }
}

.ListGifs {
  column-count: var(--result-columns);
  column-gap: 1.5em;
}